<!--Education-->
<section id="education" class="sectionBackground">
    <div class="divider"></div>            
    <div class="section education" style="visibility: hidden;">
        <div class="row container">
            <div class="col s12 m12 l12">
                <h4>Education</h4>
                <table class="responsive highlight">
                    <tbody>
                        <tr>
                            <td>
                                <h5>Staffordshire University</h5>
                                <p>BSc (Hons) Computer Science</p>
                            </td>
                            <td>
                                <h5>September 2012 - July 2016</h5>
                                <p>Second Class Upper 2:1</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h5>St Bernards Catholic Grammar School</h5>
                                <p>4 A-Levels - Maths, Physics, Chemistry, Polish</p>
                                <p>12 GCSEs (A-C) including English, Maths, Science</p>
                            </td>
                            <td>
                                <h5>September 2005 - July 2012</h3>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div> 
    </div>
</section>