<!--Footer-->
<footer class="footer">
    <div class="divider"></div>
    <div class="section">
        <div class="row container">
            <div class="col s6 m3 l3">
                <p><a><img src="image/yahooLogo.png"></a>okepa@yahoo.co.uk</p>
            </div>
            <div class="col s6 m3 l3">
                <p><a><img src="image/phoneLogo.png"></a>07804836504</p>
            </div>
            <div class="col s6 m3 l3">
                <p><a href="https://www.linkedin.com/in/aleksander-kepa"><img src="image/linkedInLogo.png">LinkedIn</a></p>
            </div>
            <div class="col s6 m3 l3">
                <p><a href="https://github.com/okepa"><img src="image/gitHubLogo.png">GitHub</a></p>
            </div>
        </div>
    </div>
</footer>