<!--Jobs-->
<section id="jobs">
    <div class="divider"></div>            
    <div class="section jobs" style="visibility: hidden;">
        <div class="row container">
            <div class="col s12 m12 l12">
                <h4>Jobs</h4>
                <table class="responsive highlight">
                    <tbody>
                        <tr>
                            <td>
                                <h5>Sparta Global</h5>
                                <p>2016 - Present</p>
                            </td>
                            <td>
                                <h5>Web Developer</h5>
                                <p>Learnt to become a web developer.</p>
                                <p>Learnt the technologies HTML, CSS, Javascript.</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h5>Airbus Helicopter</h5>
                                <p>August 2014 - August 2015</p>
                            </td>
                            <td>
                                <h5>Junior Software Developer</h5>
                                <p>Assigned to develop the Reporting Tool Dashboard (RT Dashboard). The RT Dashboard is used to track bugs in helicopter software.</p>
                                <p>Fixed bugs in the RT Dashboard.</p>
                                <p>Developed improvements and modification to the existing RT Dashboard system.</p>
                                <p>Developed additional features for the RT Dashboard.</p>
                                <p>This has helped me gain experience as a programmer and what it is like to work as a software developer.</p>
                                <p>Primarily worked with the programming languages HTML, PHP, JavaScript, MySQL.</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>