<header>
    <div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper">
        <a href="#" class="brand-logo">Aleksander Kepa</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li id="personalDetailsNav"><a href="#personalDetails">Personal Details</a></li>
            <li id="educationNav"><a href="#education">Education</a></li>
            <li id="jobsNav"><a href="#jobs">Jobs</a></li>
            <li id="skillsNav"><a href="#skills">Skills</a></li>
        </ul>
        </div>
    </nav>
    </div>
</header>