<!--Parallax-->
<section>
    <div class="myParallax">
    <div class="caption center-align">
    <span style="background-color: #000;"><h3  class="light grey-text text-lighten-3">Welcome</h3></span>
    <h5 class="light grey-text text-lighten-3">This is my CV</h5>
    </div>
    </div>
</section>