<!--Personal Details-->
<section id="personalDetails" style="padding-top:4%;">
    <div class="section personalDetails" style="visibility: hidden;">
        <div class="row container ">
            <!--Profile Picture-->
            <div class="col s12 m12 l3"><img src="image/Profile_pic.jpg" alt="Profile picture"></div>
            <!--Profile Information-->
            <div class="col s12 m12 l3">
                <p>Name: Aleksander (Olek) Kepa</p>
                <p>Email Address: okepa@yahoo.co.uk</p>
                <p>Phone number: 07804836504</p>
            </div>
                <!--Profile Description-->
            <div class="col s12 m12 l6">
                <h4>Profile</h4>
                <p>I am a recent Computer Science graduate from Staffordshire University
                with a Second Class Upper (2:1). The course included a year in industry
                where I worked for Airbus Helicopters in Germany. I am an ambitious and
                hardworking individual with a passion for programming and am looking to
                utilise my degree to begin my career as a software developer.</p>
            </div>                                
        </div>
    </div>
</section>