<!--Portfolio-->
<section id="portfolio">
    <div class="section portfolio" style="visibility: hidden;">
        <div class="row container">
            <h4>Portfolio</h4>
            <!--Express generator-->
            <div class="col s12 m12 l4">
                <a data-target="expressGenerator"><img class="responsive-img" src="image/portfolio/expressgenerator.png" /></a>
            </div>
            <!--Blackjack-->
            <div class="col s12 m12 l4">
                <a data-target="blackjack"><img class="responsive-img" src="image/portfolio/blackjack.png" href="#blackjack"></a>
            </div>
            <!--Rock Paper Scissors-->
            <div class="col s12 m12 l4">
                <a data-target="rps"><img class="responsive-img" src="image/portfolio/rps.png" href="#rps"></a>
            </div>
            <!--Naught and Crosses-->
            <div class="col s12 m12 l4">
                <a data-target="nc"><img class="responsive-img" src="image/portfolio/nc.png" href="#nc"></a>
            </div>
        </div>
    </div>
    <!-- Express generator modal -->
    <div id="expressGenerator" class="modal">
        <div class="modal-content">
            <h4>Express Generator</h4>
            <h5>NPM Package</h5>
            <a href="https://www.npmjs.com/package/express-generator-ok">Express Generator NPM</a>
            <h5>Github Repository</h5>
            <a href="https://github.com/okepa/express-generator-ok">Express Generator Github</a>
        </div>
    </div>
    <!-- Blackjack modal -->
    <div id="blackjack" class="modal">
        <div class="modal-content">
            <h4>Blackjack</h4>
            <h5>Blackjack hosted on Heroku</h5>
            <a href="http://blackjackwebtest.herokuapp.com/">Blackjack Heroku</a>
            <h5>Github Repository</h5>
            <a href="https://github.com/okepa/blackjackAPI">Blackjack Github</a>
        </div>
    </div>
    <!-- Rock Paper Scissors modal -->
    <div id="rps" class="modal">
        <div class="modal-content">
            <h4>Rock Paper Scissors</h4>
            <h5>Github Repository</h5>
            <a href="https://github.com/okepa/RPS">Rock Paper Scissors Github</a>
        </div>
    </div>
    <!-- Naughts and Crosses modal -->
    <div id="nc" class="modal">
        <div class="modal-content">
            <h4>Naughts and Crosses</h4>
            <h5>Github Repository</h5>
            <a href="https://github.com/okepa/xo">Naughts and Crosses Github</a>
        </div>
    </div>
</section>