<!--Skills-->
<section id="skills" class="sectionBackground">
    <div class="divider"></div>            
    <div class="section skills" style="visibility: hidden;">
        <div class="row container">
            <div class="col s12 m12 l12">
                <h4>Skills</h4>
                <div class="carousel">
                    <a class="carousel-item" href="#C!"><img src="image/carosel/C_image.png"></a>
                    <a class="carousel-item" href="#C++!"><img src="image/carosel/C++_image.png"></a>
                    <a class="carousel-item" href="#Java!"><img src="image/carosel/Java_image.png"></a>
                    <a class="carousel-item" href="#HTML!"><img src="image/carosel/HTML5_image.png"></a>                           
                    <a class="carousel-item" href="#CSS!"><img src="image/carosel/CSS_image.png"></a>
                    <a class="carousel-item" href="#Javascript!"><img src="image/carosel/Javascript_image.png"></a>
                    <a class="carousel-item" href="#PHP!"><img src="image/carosel/PHP_image.png"></a>
                    <a class="carousel-item" href="#MySQL!"><img src="image/carosel/MySQL_image.png"></a>
                    <a class="carousel-item" href="#Oracle SQL!"><img src="image/carosel/OracleSQL_image.png"></a>
                </div>
            </div>
        </div>
    </div> 
</section>