<!DOCTYPE html>
  <html>
    <head>
      <!--Import Google Icon Font-->
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
      <!--Own CSS-->
      <link type="text/css" rel="stylesheet" href="css/StyleSheet.css"/>
      <link type="text/css" rel= "stylesheet" href="css/animate.css"/>
      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script type="text/javascript" src="js/materialize.min.js"></script>
      <title>CV</title>
    </head>
    <body>
      <header>
          <div class="navbar-fixed">
            <nav>
                <div class="nav-wrapper">
                <a href="#" class="brand-logo">Aleksander Kepa</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li id="personalDetailsNav"><a href="#personalDetails">Personal Details</a></li>
                    <li id="educationNav"><a href="#education">Education</a></li>
                    <li id="jobsNav"><a href="#jobs">Jobs</a></li>
                    <li id="skillsNav"><a href="#skills">Skills</a></li>
                </ul>
                </div>
            </nav>
          </div>
      </header>
      <!--Parallax-->
      <section>
          <div class="myParallax">
            <div class="caption center-align">
            <span style="background-color: #000;"><h3  class="light grey-text text-lighten-3">Welcome</h3></span>
            <h5 class="light grey-text text-lighten-3">This is my CV</h5>
            </div>
          </div>
      </section>
      <!--<section>
        <div class="parallax-container">
            <div class="caption center-align">
            <h3 class="light grey-text text-lighten-3">Welcome</h3>
            <h5 class="light grey-text text-lighten-3">This is my CV</h5>
            </div>
            <div class="parallax"><img src="image/milkyWay.jpg"></div>
        </div>
      </section>-->
      <!--Personal Details-->
      <section id="personalDetails" style="padding-top:4%;">
            <div class="section personalDetails" style="visibility: hidden;">
                <div class="row container ">
                    <!--Profile Picture-->
                    <div class="col s12 m12 l3"><img src="image/Profile_pic.jpg" alt="Profile picture"></div>
                    <!--Profile Information-->
                    <div class="col s12 m12 l3">
                        <p>Name: Aleksander (Olek) Kepa</p>
                        <p>Email Address: okepa@yahoo.co.uk</p>
                        <p>Phone number: 07804836504</p>
                    </div>
                     <!--Profile Description-->
                    <div class="col s12 m12 l6">
                        <h4>Profile</h4>
                        <p>I am a recent Computer Science graduate from Staffordshire University
                        with a Second Class Upper (2:1). The course included a year in industry
                        where I worked for Airbus Helicopters in Germany. I am an ambitious and
                        hardworking individual with a passion for programming and am looking to
                        utilise my degree to begin my career as a software developer.</p>
                    </div>                                
                </div>
            </div>
        <!--Education-->
        </section>
        <section id="education" class="sectionBackground">
          <div class="divider"></div>            
            <div class="section education" style="visibility: hidden;">
                <div class="row container">
                    <div class="col s12 m12 l12">
                        <h4>Education</h4>
                        <table class="responsive highlight">
                            <tbody>
                                <tr>
                                    <td>
                                        <h5>Staffordshire University</h5>
                                        <p>BSc (Hons) Computer Science</p>
                                    </td>
                                    <td>
                                        <h5>September 2012 - July 2016</h5>
                                        <p>Second Class Upper 2:1</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <h5>St Bernards Catholic Grammar School</h5>
                                        <p>4 A-Levels - Maths, Physics, Chemistry, Polish</p>
                                        <p>12 GCSEs (A-C) including English, Maths, Science</p>
                                    </td>
                                    <td>
                                       <h5>September 2005 - July 2012</h3>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div> 
          </div>
        </section>
        <!--Jobs-->
        <section id="jobs">
          <div class="divider"></div>            
            <div class="section jobs" style="visibility: hidden;">
                <div class="row container">
                    <div class="col s12 m12 l12">
                        <h4>Jobs</h4>
                        <table class="responsive highlight">
                            <tbody>
                                <tr>
                                    <td>
                                        <h5>Sparta Global</h5>
                                        <p>2016 - Present</p>
                                    </td>
                                    <td>
                                        <h5>Web Developer</h5>
                                        <p>Learnt to become a web developer.</p>
                                        <p>Learnt the technologies HTML, CSS, Javascript.</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <h5>Airbus Helicopter</h5>
                                        <p>August 2014 - August 2015</p>
                                    </td>
                                    <td>
                                        <h5>Junior Software Developer</h5>
                                        <p>Assigned to develop the Reporting Tool Dashboard (RT Dashboard). The RT Dashboard is used to track bugs in helicopter software.</p>
                                        <p>Fixed bugs in the RT Dashboard.</p>
                                        <p>Developed improvements and modification to the existing RT Dashboard system.</p>
                                        <p>Developed additional features for the RT Dashboard.</p>
                                        <p>This has helped me gain experience as a programmer and what it is like to work as a software developer.</p>
                                        <p>Primarily worked with the programming languages HTML, PHP, JavaScript, MySQL.</p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>
        <!--Skills-->
        <section id="skills" class="sectionBackground">
            <div class="divider"></div>            
            <div class="section skills" style="visibility: hidden;">
                <div class="row container">
                    <div class="col s12 m12 l12">
                        <h4>Skills</h4>
                        <div class="carousel">
                            <a class="carousel-item" href="#C!"><img src="image/carosel/C_image.png"></a>
                            <a class="carousel-item" href="#C++!"><img src="image/carosel/C++_image.png"></a>
                            <a class="carousel-item" href="#Java!"><img src="image/carosel/Java_image.png"></a>
                            <a class="carousel-item" href="#HTML!"><img src="image/carosel/HTML5_image.png"></a>                           
                            <a class="carousel-item" href="#CSS!"><img src="image/carosel/CSS_image.png"></a>
                            <a class="carousel-item" href="#Javascript!"><img src="image/carosel/Javascript_image.png"></a>
                            <a class="carousel-item" href="#PHP!"><img src="image/carosel/PHP_image.png"></a>
                            <a class="carousel-item" href="#MySQL!"><img src="image/carosel/MySQL_image.png"></a>
                            <a class="carousel-item" href="#Oracle SQL!"><img src="image/carosel/OracleSQL_image.png"></a>
                        </div>
                    </div>
                </div>
            </div> 
        </section>
        <!--Contact-->
        <section id="contact">
          <div class="divider"></div>            
            <div class="section contact"         >
                <div class="row container">
                    <div class="col s12 m12 l12">
                        <h4>Contact</h4>
                        <div class="row">
                            <form class="col s12" method="POST" action="/contact">
                                <div class="row">
                                    <div class="input-field col s4">
                                        <input placeholder="First Name" name="firstName" id="firstName" type="text" class="validate" required>
                                        <label for="firstName">First Name</label>        
                                    </div>
                                    <div class="input-field col s4">
                                        <input placeholder="Last Name" name="lastName" id="lastName" type="text" class="validate" required>
                                        <label for="lastName">Last Name</label>        
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s4">
                                            <input placeholder="Email" name="email" id="email" type="email" class="validate" required>
                                            <label for="email">Email</label>        
                                        </div>
                                    </div>
                                    <div class="input-field col s12">
                                        <input placeholder="Message" name="message" id="message" type="text" class="validate" required>
                                        <label for="message">Message</label>        
                                    </div>
                                    <button class="btn waves-effect waves-light" type="submit" name="action">Submit</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div> 
        </section>
        <!--Footer-->
        <footer class="footer">
            <div class="divider"></div>
            <div class="section">
                <div class="row container">
                    <div class="col s6 m3 l3">
                        <p><a><img src="image/yahooLogo.png"></a>okepa@yahoo.co.uk</p>
                    </div>
                    <div class="col s6 m3 l3">
                        <p><a><img src="image/phoneLogo.png"></a>07804836504</p>
                    </div>
                    <div class="col s6 m3 l3">
                        <p><a href="https://www.linkedin.com/in/aleksander-kepa"><img src="image/linkedInLogo.png">LinkedIn</a></p>
                    </div>
                    <div class="col s6 m3 l3">
                        <p><a href="https://github.com/okepa"><img src="image/gitHubLogo.png">GitHub</a></p>
                    </div>
                </div>
            </div>
        </footer>
        <!--<section>
            </div>
            <div class="parallax-container">
                <div class="parallax"><img src="image/milkyWay.jpg"></div>
            </div>
        </section>-->
      <script type="text/javascript" src="js/ownJavascript.js"></script>
    </body>
  </html>